In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('data/runawayfault_L.csv',header=0)
df

In [ ]:
df=pd.read_csv('data/agitatorfault_L.csv',header=0)
df

In [ ]:
df.info()

In [ ]:
df.plot('Time_min','ReactorTemp')
df.plot('Time_min','Pressure_bar')
df.plot('Time_min','Volume_m3')
df.plot('Time_min','Agitator_Speed_rpm')
df.plot('Time_min','Coolant_Flow_m3_s')
df.plot('Time_min','Feed_Flow_m3_s')
df.plot('Time_min','Coolant_delatT_K')

In [ ]:
df['fault_type']=00

In [1]:
from src.load_and_label import load_and_label_data

In [2]:
master_dataset = load_and_label_data()

Loading and auto-labeling normal batch files...
  - Loaded and labeled normalbatch1.csv as Normal.
  - Loaded and labeled normalbatch2.csv as Normal.
  - Loaded and labeled normalbatch3.csv as Normal.
  - Loaded and labeled normalbatch4.csv as Normal.
  - Loaded and labeled normalbatch5.csv as Normal.
  - Loaded and labeled normalbatch6.csv as Normal.
  - Loaded and labeled normalbatch7.csv as Normal.

Loading manually labeled fault batch files...
  - Loaded agitatorfault_L.csv using your manual labels.
  - Loaded runawayfault_L.csv using your manual labels.

Successfully combined all data into a master table with 5409 rows.

In [7]:
df= pd.read_csv("raw/normal/normalbatch1.csv",header=0)
df

,Time_min,ReactorTemp,Pressure_bar,Volume_m3,Agitator_Speed_rpm,Coolant_Flow_m3_s,Feed_Flow_m3_s,Coolant_delatT_K
0,0.0,313.343280,1.200000,8.916667,800,0.000000,0.000000,5.077143
1,0.5,314.277677,1.293476,8.994521,800,0.413430,0.002576,8.388683
2,1.0,318.062160,1.500000,9.070621,800,0.993892,0.002475,11.379813
3,1.5,323.607105,1.500000,9.149315,800,1.000000,0.002561,14.081088
4,2.0,328.205591,1.500000,9.225946,800,0.980534,0.002533,16.519993
...,...,...,...,...,...,...,...,...
596,298.0,313.535758,1.223113,27.646414,800,0.003448,0.000000,10.606815
597,298.5,313.321166,1.221163,27.647001,800,0.000000,0.000000,11.050408
598,299.0,313.308338,1.219563,27.647620,800,0.004351,0.000000,10.512819
599,299.5,313.422563,1.219041,27.648095,800,0.000000,0.000000,10.962858
600,300.0,313.431861,1.216780,27.648623,800,0.000000,0.000000,11.367324

In [13]:
type(master_dataset)

pandas.core.frame.DataFrame

In [14]:
master_dataset.to_csv("data/masterset.csv",index=False)